<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="DEMON.description.parser"
         point="scenario.parsers">
      <parser
            class="minerDEMON.DEMONParserCallback"
            parseInPlugin="false"
            scenaryName="DEMON"
            sectionTag="graphMining">
      </parser>
   </extension>
   <extension
         point="graph.miners">
      <miner
            algorithmNameInScenary="DEMON"
            class="minerDEMON.DEMONMinerCallback"
            isSourceInFiles="true">
      </miner>
   </extension>

</plugin>
