<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="characteristics.computers">
      <computer
            characteristicNameInScenary="community_quality"
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLCallback"
            isSourceInFiles="true">
      </computer>
   </extension>
   <extension
         point="scenario.parsers">
      <parser
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLInScenarioParserCallback"
            parseInPlugin="true"
            scenaryName="community_quality"
            sectionTag="measures">
      </parser>
   </extension>
   <extension
         point="characteristics.computers">
      <computer
            characteristicNameInScenary="community_coverage"
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLCallback"
            isSourceInFiles="true">
      </computer>
   </extension>
   <extension
         point="scenario.parsers">
      <parser
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLInScenarioParserCallback"
            parseInPlugin="true"
            scenaryName="community_coverage"
            sectionTag="measures">
      </parser>
   </extension>
   <extension
         point="scenario.parsers">
      <parser
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLInScenarioParserCallback"
            parseInPlugin="true"
            scenaryName="overlap_quality"
            sectionTag="measures">
      </parser>
   </extension>
   <extension
         point="characteristics.computers">
      <computer
            characteristicNameInScenary="overlap_quality"
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLCallback"
            isSourceInFiles="false">
      </computer>
   </extension>
   <extension
         point="scenario.parsers">
      <parser
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLInScenarioParserCallback"
            parseInPlugin="true"
            scenaryName="overlap_coverage"
            sectionTag="measures">
      </parser>
   </extension>
   <extension
         point="characteristics.computers">
      <computer
            characteristicNameInScenary="overlap_coverage"
            class="numericCommunitiesMeasuresABL.CommunitiesMeasuresABLCallback"
            isSourceInFiles="true">
      </computer>
   </extension>

</plugin>
