<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="scenario.parsers">
      <parser
            class="graphProviderLFR.LFRCallback"
            parseInPlugin="false"
            scenaryName="LFR"
            sectionTag="graphs">
      </parser>
   </extension>
   <extension
         point="graph.providers">
      <provider
            class="graphProviderLFR.LFRGenerator"
            graphTypeScenaryName="LFR">
      </provider>
   </extension>

</plugin>
