<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="BigClAM.description.parser"
         point="scenario.parsers">
      <parser
            class="minerBigClAM.BigClAM_ParserCallback"
            parseInPlugin="false"
            scenaryName="bigclam"
            sectionTag="graphMining">
      </parser>
   </extension>
   <extension
         point="graph.miners">
      <miner
            algorithmNameInScenary="bigclam"
            class="minerBigClAM.BigClAM_MinerCallback"
            isSourceInFiles="true">
      </miner>
   </extension>

</plugin>
